<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/application.css">
  <title>Event Manager</title>
</head>

<body>
  <div class="container">
    <center><div class="page-header">
      <h1>Event Manager</h1>
    </div></center>
    <div class="row">
      <div class="col-md-3">
        <h3>Where To?</h3>
        <ul class="nav nav-pills">
          <li role="presentation" class="active"><a href="#">Home</a></li>
        </ul>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
